Package: scratchpad
Version: 1.1
Architecture: all
Maintainer: Ed Novak, <enovak@fandm.edu>
Installed-Size: 12
Depends: python, python3, python3-tk
Section: python
Priority: optional
Homepage: github.com/fmresearchnovak/scratchpad
Description: Notepad and calculator combined!
  This is a program that combines a basic text / memo pad with some calculator functions.  It is somewhat similar to https://soulver.app/
